body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    margin: 20px;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 2px;
    font-size: 12pt;
}

table {
    font-size: 10pt;
  }

.graphic-container {
    overflow-y: auto;
    height: calc(2 * 100vh);
    width: calc(100vw - 375px);
}

#map {
    position: absolute;
    top: 80px;
    left: 375px;
    background-color: #eee;
    border: 1px solid #666;
    height: calc(100vh - 100px);
    width: calc(100vw - 395px);
}

#date-range-slider {
    width: 280px;
    margin: 40px auto 0;
    display: block;
}

.cluster-icon {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 14px;
    line-height: 40px;
}

.cluster-count {
    color: black;
    line-height: 40px; /* Centrer verticalement le texte */
    align-items: center;
}

.infobar {
    position: absolute;
    top: 80px;
    left: 20px;
    background-color: #eee;
    border: 1px solid #666;
    height: calc(100vh - 130px);
    width: 320px;
    padding: 15px;
    overflow: hidden;
}

.sources {
    position: absolute;
    bottom: 0;
    font-size: 8pt;
    margin-bottom: 10px;
}